body {
	background: -webkit-linear-gradient(#ece6e7,#a98d94);
	background: -o-linear-gradient(#ece6e7,#a98d94);
	background: -moz-linear-gradient(#ece6e7,#a98d94); 
	background: linear-gradient(#ece6e7,#a98d94); 
}
h1 {
	text-align: center;
    padding: 20px;
    border: 2px solid #184e54;
}
ul {
	text-align: center;
}
li {
	border: 3px solid #333;
	list-style: none;
	display: none;
}
img {
	width: 800px;
	height: 600px;
	position: relative;
}
h2 {
	position: absolute;
	top: 250px;
	color: #fff;
	padding: 20px;
	background-color: #000;
}
p {
    font-size: x-large;
    padding-left: 15%;
}
label {
	background: black;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
}
.selector {
	text-align: center;
}
